.deals {
  width: 400px;
  height: 205px;
  display: flex;
  /* border: 1px solid red; */
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.deals-container {
  width: 100vw;
  height: 40vh;
  /* border: 1px solid rgb(9, 208, 235); */
}
/* .deals-img {
  object-fit:cover;
  border-bottom-left-radius: 10px;
  height: 104%;
} */
/* {..........................} */
.deals-swiper-parent{

  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* overflow: hidden; */
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  /* display: none; */
  width: 92%;
  margin-left: 61px !important;
  height: 245px;
  /* border: 2px solid rgb(45, 0, 128); */
  /* background: greenyellow; */
}


.deals-swiper-parent-children{
/* margin-left: 60px !important; */
width:400px !important;
/* border: 2px solid red; */
}
.deals-swiper-parent-children>div{

  margin-right: 60px;
}

.deals-img{
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit:cover;
  height: 104%;
}

/* {....................................................} */
.deals-img-div {
  /* border: 3px solid rgb(34, 238, 8); */
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  /* background-image:red; */
}
.deals-box {
  background-color: black;
  width:100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:left;
 
}

.deals-box > div {
  transform: rotate(270deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border:2px solid red; */
  width:80%;
  height:90%;
  margin: auto;
  margin: 0%;
  padding: 0%;
 align-items:start;
 line-height: 0px;
 /* margin-top: -10px; */
}
.deals-box-div~p {
    display: flex;
    justify-content:left;
    text-align:left;
    /* margin-top: -30px; */
  /* line-height: 20px; */

}

@media screen and (max-width:1440px){


  .deals-swiper-parent{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* overflow: hidden; */
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    /* display: none; */
    width: 95%;
    margin-left: 61px !important;
    height: 245px;
    border: 2px solid rgb(45, 0, 128);
    background: greenyellow;
  }
  
  
  .deals-swiper-parent-children{
  /* margin-left: 60px !important; */
  width:400px !important;
  border: 2px solid red;
  }
  .deals-swiper-parent-children>div{
  
    margin-right: 60px;
  }
  
  .deals-img{
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit:cover;
    height: 104%;
  }
}


@media screen and (max-width:1024px){




}

@media screen and (max-width:768px){
  
}