.sheduleappointment-container {
    width: 100vw;
    height: 96vh;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;
  }
  
  .sheduleappointment-container-div1 {
    width: 30%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    /* display:flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: auto; */
  }
  
  .sheduleappointment-name-box {
    width: 80%;
    height: 90px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    border-radius: 8px;
  }
  
  .sheduleappointment-name-box1 {
    width: 35%;
    height: 98%;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sheduleappointment-name-box1 > div {
    width: 80%;
    height: 90%;
    border-radius: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sheduleappointment-name-box1 > div > img {
    width: 100%;
    height: 100%;
  }
  
  .sheduleappointment-name-box2 {
    width: 60%;
    height: 98%;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color: rgb(51, 255, 0); */
    text-align: left;
  }
  
  .sheduleappointment-icon-box {
    width: 80%;
    height: 20px;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    margin: auto;
    margin-top: 20px;
    display: flex;
    border-radius: 8px;
  }
  
  .sheduleappointment-name-icon {
    width: 8%;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .sheduleappointment-name-text {
    width: 70%;
    height: 90%;
    /* border: 1px solid rgb(208, 19, 19); */
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .sheduleappointment-text2 {
    width: 80%;
    height: 23px;
    /* border:1px solid grey; */
    margin: auto;
    margin-top: 10px;
    display: flex;
  }
  
  .horizotal-line1 {
    width: 80%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 5px;
    display: flex;
    /* border-radius: 8px; */
  }
  
  .sheduleappointment-button-info {
    width: 80%;
    height: 20px;
    /* border:1px solid grey; */
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sheduleappointment-button-info > button {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    text-align: center;
    border:none;
    background-color: white;
    font-weight:500;
    font-size:15px;
  }
  
  .sheduleappointment-address-text {
    width: 80%;
    height: 20px;
    /* border:1px solid grey; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sheduleappointment-size-text {
    width: 80%;
    height: 20px;
    /* border:1px solid grey; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .horizotal-line2 {
    width: 80%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 5px;
    display: flex;
    /* border-radius: 8px; */
  }
  
  .sheduleappointment-card-opton1 {
    width: 80%;
    height: 20px;
    /* border:1px solid grey; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  /* second section ...................................*/
  
  
  
  .sheduleappointment-card-opton2 {
    width: 80%;
    height: 20px;
    /* border: 1px solid grey; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sheduleappointment-card-opton3 {
    width: 80%;
    height: 20px;
    border:1px solid grey;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sheduleappointment-container-div2 {
    width: 68%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* display: flex; */
    border-radius: 10px;
  }
  
  .sheduleappointment-container-div2-box1 {
    width: 95%;
    height: 84%;
    margin: auto;
    display: flex;
    /* border: 1px solid rgb(45, 0, 128); */
    border-radius: 10px;
    margin-top: 20px;
    flex-direction: column;
  
    /* align-items: center; */
    /* background-color: aqua; */
  }
  
  .sheduleappointment-container-div2-box1-sizebox {
    width: auto;
    height: 400px;
    /* margin: auto; */
    display: flex;
    /* border: 1px solid rgb(21, 128, 0); */
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
  }

/* left box */

  .sheduleappointment-box1 {
    width: 360px;
    height: 488px;
    border: 1px solid grey;
    /* background-color: aqua; */
    padding:0px 0px 50px 10px;
    border-radius: 10px;
    justify-content: space;
  }
  
  .sheduleappointment-box1-details {
    width: 100%;
    height: 60%;
    /* border: 3px soild black; */
    object-position: left;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }
  

/* second section right box.................................... */


  .sheduleappointment-box2 {
    width: 400px;
    height: 550px;
    /* border: 1px solid rgb(255, 0, 191); */
    /* background: yellow; */
    display: flex;
     /* align-items: center; */
    justify-self: center; 
    flex-direction: column;
    /* margin: auto; */
    /* padding:0px 0px 0px 10px; */
    /* text-align: justify; */
    
  }
  
.sheduleappointment-box2-div{
  width:90%;
  height: 100%;
  margin: auto;

}
.sheduleappointment-box2-div>div,h4,video,button,h5{
  margin-top: 5px;
}


.sheduleappointment-video-box{
  width:95%;
  height: 40%;
  /* border:1px solid blue; */
  border-radius: 8px;

}




  .sheduleappointment-img-bottom {
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: right;
    /* text-align: right; */
    
  }
  
  .sheduleappointment-img-bottom1{
      width:50px;
      height: 100%;
      border: 1px solid black;
      border-radius:50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: right;
  }
  
  .sheduleappointment-img-bottom3>img{
      /* width:40px;
      height: 100%; */
      /* border: 1px solid black; */
      
  }
  
  
  
  
  
  
  
  
  
  .sheduleappointment-personal-div {
    width: 90%;
    height: 350px;
    /* border: 3px solid yellow; */
    box-sizing: border-box;
    margin: 0px;
    /* margin-top: -50px; */
  }
  
  .sheduleappointment-personal-add {
    width: 100%;
    height: 10%;
    border: 1px solid grey;
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
  }
  
  .sheduleappointment-main-div {
    width: 100%;
    height: 390px;
    border: 1px solid grey;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    /* background-color: aqua; */
    /* flex-shrink: 0; */
    justify-content: left;
    border-radius: 8px;
    padding: 0px 0px 30px 0px;
  }
  
  .sheduleappointment-details-container {
    width: 100%;
    height: 280px;
    /* border:1px solid blue; */
    /* margin-left: 10px; */
    display: flex;
    gap: 10px;
    justify-content: left;
    box-sizing: border-box;
    margin-top: 15px;
    /* flex-shrink: 1; */
  }
  
  .sheduleappointment-details-container-box1 {
    width: 27%;
    height: 100%;
    /* border: 2px solid rgb(230, 7, 7); */
    gap: 10px;
  }
  
  .sheduleappointment-details-container-box2 {
    width: 30%;
    height: 100%;
    /* border: 2px solid rgb(230, 7, 7); */
  }
  
  .sheduleappointment-details-container-box3 {
    width: 30%;
    height: 100%;
    /* border: 2px solid rgb(230, 7, 7); */
  }
  
.sheduleappointment-box1-div1-div2-del-img{
  width: 30%;
  height: 30%;
}
.sheduleappointment-box2-div-heading{

  width: auto;
  /* height: 40px; */
  display: flex;
  margin: 0px;
  padding: 0px;
  
}


  div.sheduleappointment-button-info:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
  }
div.sheduleappointment-size-text:hover{
  background-color:black;
  color:white;
  border-radius: 5px;
  height: 30px;
}
div.sheduleappointment-address-text:hover{
  background-color:black;
  color:white;
  border-radius: 5px;
  height: 30px;
}
div.sheduleappointment-card-opton1:hover{
  background-color:black;
  color:white;
  border-radius: 5px;
  height: 30px;
}
/* div.sheduleappointment-button-info:hover{
  background-color:black;
  color:white;
  border-radius: 5px;
  height: 30px;
} */

.sheduleappointment-button-info > button:hover{
  background-color:black;
  color:white;
  border-radius: 5px;
  height: 30px;
}
.sheduleappointment-box1-div1{

  width: 100%;
  height: 34%; 
  display: flex; 
}
.sheduleappointment-box1-div1-div1{
 
  width: 75%;
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheduleappointment-box1-div1-div2{

  width: 50%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheduleappointment-box1-div1-div2-img{
  width: 75%;
  height: 100%;
}
.sheduleappointment-video-botton-text{

  display: flex; 
  gap: 10px;
   margin-top: 5px;
}
.sheduleappointment-container-div2-box1-ip-div{

  display: flex;
  width: 80%;
  height: 40px;
 /* border: 1px solid red; */
  border-radius: 6px;
  margin-left: 20px;
 /* backgroundColor: black; */
}
.sheduleappointment-container-div2-box1-ip-div-one{

  width: 5%;
  height: 100%;
  background-color: #E8E8E8;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sheduleappointment-container-div2-box1-iptag{

  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 90%;
  height: 97%;
  background-color: #E8E8E8;
  border: none;
  border-radius: 0px 6px 6px 0px;
}
.sheduleappointment-container-div2-box1-heading{

  display: flex;
   justify-content: left;
   margin-left: 20px;
}
.sheduleappointment-box1-details-name{

}
.sheduleappointment-box1-details-size{

  width: 30%;
  height: 50px;
   /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin: 5px 0px 0px 80px;
  gap: 5px;
}
.sheduleappointment-box1-details-div1{

  width: 100%;
  height: 22px;
  display: flex;
  background-color: #E8E8E8;
  border-radius: 6px;
}
.sheduleappointment-input-button1{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
  background-color: black;

}
.sheduleappointment-input-button2{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
  background-color: #E8E8E8; 
}
.sheduleappointment-box1-div1-div2-del{
  width: 20%;
  height: 100%;
  /* border: 1px solid rebeccapurple; */
}
.sheduleappointment-box1-details-name-h4{

  margin: 0pxl;
  margin-left: -90px;
}

@media screen and (max-width: 1440px){

  .sheduleappointment-container-div2-box1-heading {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    
}
.sheduleappointment-container-div2-box1-sizebox {
  width: auto;
  height: 477px;
}
.sheduleappointment-box1-div1 {
  width: 360px;
  height: 170px;
  display: flex;
}
.sheduleappointment-box1-div1-div1 {
  width: 238px !important;
  height: 124px;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheduleappointment-box1 {
  width: 360px !important;
  height: 428px !important;
  border: 1px solid grey;
  /* background-color: aqua; */
  padding: 0px 0px 50px 10px;
  border-radius: 10px;
  justify-content: space;
}
.sheduleappointment-box1-div1 {
  width: 360px;
  height: 124px !important;
  display: flex;
  /* border: 1px solid red; */
}
.sheduleappointment-box1-div1-div2-img {
  width: 82px !important;
  height: 123px;
}
.sheduleappointment-container-div2-box1-ip-div {
  display: flex;
  width: 765px;
  height: 40px;
  /* border: 1px solid red; */
  border-radius: 6px;
  margin-left: 20px;
}
.sheduleappointment-container-div2-box1-iptag {
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 709px !important;
}
.sheduleappointment-video-box {
  width: 356px !important;
  height: 40%;
  /* border: 1px solid blue; */
  border-radius: 8px;
}

.sheduleappointment-video-botton-text {
  display: flex;
  gap: 10px;
  width: 360px;
  height: 30px;
}
.sheduleappointment-video-botton-text>button{
  font-size: 14px;
}

.sheduleappointment-container-div2-box1-ip-div-one {
  width: 37px;
  height: 41px !important;
}

.sheduleappointment-box2 {
  width: 471px;
  height: 550px;
  /* border: 1px solid rgb(255, 0, 191); */
}

.sheduleappointment-box1-div1-div2 {
  width: 50%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 114px !important;
}

.sheduleappointment-box1-div1-div2-del{

  width: 20%;
  height: 100%;
  margin-left: 45px;
  /* border: 1px solid rebeccapurple; */
}

.sheduleappointment-box1-details-name {
  margin-left: 65px;
  margin-top: -5px;
}
.sheduleappointment-box1-details-size {
  width: 30%;
  height: 50px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin: -16px 0px 0px 140px;
  gap: 5px;
}

}


@media screen and (max-width: 1024px) {

  .sheduleappointment-container {
    width: 96vw !important;
    height: 96vh !important;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;
    margin: auto !important;
}

.sheduleappointment-box1-details-size {
    width: 30%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin: 4px 0px 0px 112px;
    gap: 5px;
}
.sheduleappointment-container-div2-box1-sizebox {
  width: 635px !important;
  height: 462px !important;
  margin: auto !important;
  display: flex;
  /* border: 1px solid rgb(21, 128, 0); */
  border-radius: 10px;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
}
.sheduleappointment-container-div2-box1 {
  width: 635px;
  height: 609px;
  margin: auto;
  display: flex;
  /* border: 1px solid rgb(45, 0, 128); */
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: aqua; */
}
.sheduleappointment-box1 {
  width: 412px !important;
  height: 440px !important;
  border: 1px solid grey;
  /* background-color: aqua; */
  padding: 0px 0px 50px 10px;
  border-radius: 10px;
  justify-content: space;
}
.sheduleappointment-container-div2-box1-heading {
  display: flex;
  justify-content: left;
  margin-left: 0px !important;
}

.sheduleappointment-box1-div1{

  width: 100%;
  height: 141px !important; 
  display: flex; 
}
.sheduleappointment-container-div2-box1-ip-div {
  display: flex;
  width: 622px;
  height: 40px;
  /* border: 1px solid red; */
  border-radius: 6px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.sheduleappointment-container-div2-box1-iptag {
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 600px;
}

.sheduleappointment-box1-details-name-h4 {
  margin: 0pxl;
  margin-left: -109px;
  margin: -10px 0px 0px -100px;
}
.sheduleappointment-container-div2-box1-ip-div-one {
  width: 53px;
  height: 100%;
  background-color: #E8E8E8;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sheduleappointment-box1-div1-div2 {
  width: 50%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.sheduleappointment-box1-div1-div1 {
  width: 84%;
  margin-left: -36px;
}

.sheduleappointment-box1-div1-div2-img {
  width: 73px !important;
  height: 100%;
}

/* {2nd  part.................} */

.sheduleappointment-box2 {
  width: 400px;
  height: 489px;
  /* border: 1px solid rgb(255, 0, 191); */
  /* background: yellow; */
  display: flex;
  /* align-items: center; */
  justify-self: center;
  flex-direction: column;
  /* margin: auto; */
  padding: 0px 0px 0px 10px;
  
}

.sheduleappointment-video-box {
  width: 276px !important;
  height: 195px;
  /* border: 1px solid blue; */
  border-radius: 8px;
}
.sheduleappointment-video-botton-text{

  width: 275px;
  display: flex; 
  gap: 10px;
   margin-top: 5px;
}
.sheduleappointment-video-botton-text>h5{

}

.sheduleappointment-video-botton-text>button{
  display: flex;
  align-items: center;
  font-size: 8px;
}
}


@media screen and (max-width: 768px) {

  .sheduleappointment-container {
    width: 100vw;
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;
    flex-direction: column;
    margin-top: 149px !important;
    padding-bottom: 20px;
  }

  .sheduleappointment-container-div1 {
    width: 100% !important;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
  }

  .sheduleappointment-container-div2 {
    width: 100% !important;
    height: 700px !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* display: flex; */
    border-radius: 10px;
    /* overflow: hidden; */
    margin-bottom: 10px;
}
.sheduleappointment-container-div2-box1-heading {
  display: flex;
  justify-content: left;
  margin-left: 47px !important;
}
.sheduleappointment-container-div2-box1-ip-div {
  display: flex;
  width: 610px;
  height: 40px;
  /* border: 1px solid red; */
  border-radius: 6px;
  margin-left: 45px;
  margin-bottom: 20px;
}


.sheduleappointment-name-box {
  width: 80%;
  height: 90px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  border-radius: 8px;
  padding: 10px 0px;
}


  .horizotal-line1 {
    display: flex !important;
  }
  .sheduleappointment-button-info {
    display: none !important;
  }

  .sheduleappointment-address-text {
    display: none !important;
  }

  .sheduleappointment-size-text {
    display: none !important;
  }

  .sheduleappointment-text2 {
    display: none !important;
  }

  .horizotal-line2 {
    /* display: none !important; */
    display: flex !important;
  }

  .sheduleappointment-card-opton1 {
    display: none !important;
  }

  .sheduleappointment-text2 {
    display: none !important;
  }



  .sheduleappointment-box1 {
    width: 596px !important ;
    height: auto;
    border: 1px solid grey;
    display: flex;
    margin: auto;
    gap: 20px;
    flex-direction: column;
    /* background-color: aqua; */
    /* padding: 0px 0px 50px 10px; */
    border-radius: 10px;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  .sheduleappointment-container-div2-box1 {
    width: 95%;
    height: 93%;
    margin: auto;
    display: flex;
    /* border: 1px solid rgb(45, 0, 128); */
    border-radius: 10px;
    /* margin-top: 20px; */
    flex-direction: column;
    /* align-items: center; */
    /* background-color: aqua; */
   
    padding: 20px 0px;
}


  .sheduleappointment-container-div2-box1-sizebox {
    width: auto;
    height: auto;
    /* display: flex; */
    /* border: 1px solid rgb(21, 128, 0); */
    border-radius: 10px;
    margin-top: 20px;
    flex-direction: column;
  }

  .sheduleappointment-box1-div1 {
    width: 400px;
    height: 141px !important;
    /* display: flex;
    justify-content: space-around; */
    /* gap: 20px; */
    /* border: 1px solid yellow; */
    margin-left: 180px;
}
.sheduleappointment-box1-div1-div2-del {
  width: 70px;
  height: 100%;
  /* border: 1px solid rebeccapurple; */
  margin-left: 178px;
}

.sheduleappointment-box1-div1-div1 {
  width: 554px !important;
  height: 141px;
  /* background-color: chocolate; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -111px;
}
.sheduleappointment-box1-div1-div2 {
  width: 47%;
  height: 87%;
  margin-left: 100px !important;
}
.sheduleappointment-box1-div1-div2-del-img{
  width: 30px;
  height: 30%;
}
.sheduleappointment-box1-details-name-h4 {
  margin: 0pxl;
  margin-left: -109px;
  margin: -10px 0px 0px -119px;
}

.sheduleappointment-box1-details-size {
  width: 30%;
  height: 50px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin: 4px 0px 0px 250px;
  gap: 5px;
}
.sheduleappointment-box2-div-heading{

  width: auto;
  /* height: 40px; */
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-top: 40px !important;
}


}



